*
{
margin: 0px;
padding: 0px;
}

body {
	background: url(../images/background.jpg) repeat-x;
	font: 13px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	/* color: #333333; */
	background-size: cover;
}

#content{
	margin: 0 auto;
	background: #458b55 repeat-x;
	width: 1150px;
	text-align: center;
}

#menu{
	width: 1150px;
	height: 60px;
	background: url(../images/menu.jpg) repeat-x;
}

 #menu a {
	width: 99px;
	height: 46px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	font-size: 16px;
	padding: 20px;
}

#menu a:hover {
	color: #D72020;
	text-decoration: underline;
}

#logo {	
	background: #bdb7b7;
	width: 1150px;
	height: 100px;
	text-align: center;
	padding-bottom: 10px;
}

#logo a {
	text-decoration: none;
	font-style: italic;
	font-weight: 700;
	font-size: 65px;
	letter-spacing: 10px;
	color: #0a52b1c4;
}

#logo img {
	margin-top: 15px;
	width: 120px;
}

#logo b {
	font-style: italic;
	font-size: 15px;
	letter-spacing: 3px;
	color: rgb(165, 4, 4);
}

#right{
	float: right;
	width: 900px;
	padding-top: 20px;
}

.single-goods {
    width: 200px;
    height: 218px;
    margin: 10px;	
    float: left;
	background: url(../images/discount.png) right bottom no-repeat, white left top no-repeat;
	background-size: 100px, cover;
}

.single-goods img {
	padding-top: 10px;
	height: 100px;
}

.single-goods h3 {
	font-style: italic;
	font-size: 14px;
	text-align: center;
	color: rgb(54, 51, 51);
	line-height: 1.5;
}

.single-goods h4 {
	font-style: italic;
	font-size: 14px;
	letter-spacing: 3px;
	text-align: left;
	text-decoration: line-through;
	color: #999ca0c4;
	transform: translateX(15px);
}

.single-goods h2 {	
	font-style: italic;
	font-size: 25px;
	letter-spacing: 3px;
	text-align: left;	
	color: red;
	transform: translateX(12px);
}

.single-goods p {
	font-style: italic;
	font-size: 18px;
	font-weight: 700;
	line-height: 0;
	text-align: right;
	color: rgb(15, 14, 14);
	transform: translateX(-24px);
}

#left{
	padding: 10px;
	width: 237px;
}

#left a:hover {
	color: #D72020;
	text-decoration: underline;
}

#left h3{
	margin-left: 25px;
	margin-bottom:10px;
	width: 150px;
	font-size: 14px;
	font-weight: bold;
	padding: 7px;
	border-radius: 25px;
	color: #ffffff;
	background: rgb(165, 4, 4) no-repeat;
}

#left ul {
	margin: 0;
	padding: 10px;
	list-style: none;
	width: 200px;
	font-size: 18px;
}

#left ul li {
	position: relative;
	margin-bottom:20px;
} 

#left ul li a {
	display: block;
	text-decoration: none;
	color: #ffffcc;
	background: url(../images/menu.jpg) repeat-x;
	padding: 5px;
	border: 1px solid gold;
	border-bottom: 0;
}

#footer {
	height: 30px;
	clear: both;
	padding-top: 10px;
	background: url(../images/menu.jpg) repeat-x;
}

#footer p {
	margin: 0;
	font-size: 12px;
	text-align: center;
	color: #ffffff;
}